tests/fixtures/choice/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreditCard">
    <xs:sequence>
      <xs:element name="number" type="xs:string"/>
      <xs:element name="expiry" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BankTransfer">
    <xs:sequence>
      <xs:element name="iban" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element name="currency" type="xs:string"/>
      <xs:choice>
        <xs:element name="credit-card"   type="CreditCard"/>
        <xs:element name="bank-transfer" type="BankTransfer"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
