tests/fixtures/any.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- xs:any inside xs:sequence -->
  <xs:complexType name="Envelope">
    <xs:sequence>
      <xs:element name="header" type="xs:string"/>
      <xs:any namespace="##any" minOccurs="0" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <!-- xs:anyAttribute -->
  <xs:complexType name="ExtensibleRecord">
    <xs:sequence>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##any" processContents="lax"/>
  </xs:complexType>

  <!-- Both xs:any and xs:anyAttribute -->
  <xs:complexType name="OpenContent">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:any namespace="##any" minOccurs="0"/>
    </xs:sequence>
    <xs:anyAttribute/>
  </xs:complexType>

</xs:schema>
