tests/fixtures/extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="age"  type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Dog">
    <xs:complexContent>
      <xs:extension base="Animal">
        <xs:sequence>
          <xs:element name="breed" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GuideDog">
    <xs:complexContent>
      <xs:extension base="Dog">
        <xs:sequence>
          <xs:element name="license-number" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
