tests/fixtures/complex-types/sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="street"       type="xs:string"/>
      <xs:element name="house-number" type="xs:integer"/>
      <xs:element name="tag"          type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="country-code" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>
